@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  min-width: 500px;
}

body, html {
  font-family: roboto;
}

.infos-restau h1 {
  font-weight: 800;
  font-size: 30px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.infos-restau p {
  font-size: 25px;
  margin-top: 15px;
  opacity: 70%;
  padding-left: 20px;
  padding-right: 20px;
}

.article-fonctionnement h2 {
  margin-left: 20px;
  font-size: 30px;
}

.fonctionnement__card p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 800;
}

.restaurants h2 {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 30px;
}

.carte__contenu-infos h3 {
  font-size: 20px;
}

.carte__contenu-infos p {
  font-size: 18px;
}

.footer__contenu h4 {
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer__contenu p {
  line-height: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 15px;
  color: white;
  border-radius: 100px;
  box-shadow: 1px 2px 8px #c1c1c1;
}

.header {
  display: flex;
  justify-content: center;
}
.header__img {
  margin: 20px 0;
}

footer {
  background-color: #1e1e1e;
  color: white;
  padding: 15px 0;
}

.footer__contenu {
  margin-left: 30px;
}

.footer__contenu i {
  width: 10px;
  margin-right: 20px;
}

.infos-restau {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 221, 221);
  width: 100%;
}
.infos-restau__lieu {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding: 15px 0;
  border-top: #cbc3c3 solid 2px;
}
.infos-restau__lieu input {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  max-width: 130px;
  font-family: "Roboto";
  font-size: inherit;
  font-weight: 800;
}
.infos-restau__liste {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  width: 100%;
  text-align: center;
}
.infos-restau__btn {
  margin-top: 35px;
  margin-bottom: 50px;
}

.villes__map {
  background: transparent;
  border: transparent;
  font-size: 20px;
}

.article-fonctionnement {
  margin-top: 50px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.fonctionnement__card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  background-color: #f4f4f4;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: background-color 100ms ease;
  height: 60px;
  box-shadow: 1px 2px 8px #c1c1c1;
}
.fonctionnement__card-step {
  position: absolute;
  text-align: center;
  font-size: 14px;
  left: -10px;
  padding-top: 5px;
  height: 20px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.fonctionnement__card i {
  color: grey;
  margin-left: 30px;
  width: 20px;
}
.fonctionnement__card:hover {
  background-color: #f2eafb;
}

.restaurants {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  height: 1500px;
  margin-bottom: 0;
}
.restaurants__liste {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.carte {
  margin-top: 35px;
  width: 100%;
  height: 300px;
  max-width: 700px;
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 2px 8px #c1c1c1;
}
.carte__img {
  width: 100%;
  object-fit: cover;
  height: 220px;
}
.carte__contenu {
  margin: 10px 20px 10px;
  line-height: 27px;
}

/*# sourceMappingURL=style.css.map */
