footer {
    background-color: #1e1e1e;
    color: white;
    padding: 15px 0;
}

.footer__contenu {
    margin-left: 30px;
}

.footer__contenu i {
    width: 10px;
    margin-right: 20px;
}

.footer__contenu a {
    color: white;
    text-decoration: none;
}