.btn {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background: linear-gradient($color-secondary, $color-primary);
    font-size: 15px;
    color: white;
    border-radius: 100px;
    box-shadow: 0 0 16px black;
}

.btn:hover {
    opacity: 80%;
    transform: scale(1.02);
}