.loader {
    background-color: white;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s both 1.5s disappear;
    &__chargement {
        display: block;
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 7px solid transparent;
        border-top-color: $color-primary;
        animation:  2s linear infinite spin;
    }
}

.loader__chargement::before, .loader__chargement::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
}

.loader__chargement::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: $color-secondary;
    animation: spin 3s linear infinite;
}

.loader__chargement::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: $color-tertiary;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}